.orgs {
  ;
}
#gb-orgs {
  width: 200px;
  float: right;
  clear: right;
  margin-top: 4em;
  margin-right: 25em;
  text-align: left;
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#gb-orgs p {
  color: gray;
}
#gb-orgs a {
  //background-color: white;
  text-decoration: none;
}
#gb-orgs a:link {
  color: #4183c4;
  padding-left: 2pt; /* ic kismin soldan uzakligi */
}
#gb-orgs a:hover {
  color: #4183c4;
}
#gb-orgs a:visited {
  color: #4183c4;
}
#gb-orgs ul {
  background-color: white;
  border-width: 1px; /* kenar cizgi genisligi */
  border-style: solid; /* kenar cizgi tipi */
  border-color: #d8d8d8; /* kenar cizgi rengi */
  padding-left: 6pt; /* ic kismin soldan uzakligi */
  list-style: none; /* listenin ikonlarini gosterme */
  margin-bottom: 1px; /* listenin dis boslugunun uzakligi */
}
#gb-orgs-follow {
  float: right;
}
#gb-orgs-follow img {
  border:none;
}
#gb-orgs-describe {
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#gb-orgs-describe li {
  background-color: #f0f0f0;
  border-width: 1px; /* kenar cizgi genisligi */
  border-style: solid; /* kenar cizgi tipi */
  border-color: #d8d8d8; /* kenar cizgi rengi */
  padding-left: 6pt; /* ic kismin soldan uzakligi */
  padding-right: 10pt; /* ic kismin sagdan uzakligi */
  margin-right: 2px; /* kenar sag dis boslugundan uzakligi */
  margin-left: -6px; /* kenar sag dis boslugundan uzakligi */
  margin-bottom: 1px; /* listenin dis boslugunun uzakligi */
}
#gb-orgs-footer {
  margin-top: 1px; /* kenar ust dis boslugundan uzakligi */
  text-align: center;
  font: bold 90% FreeSans,Helvetica,Arial,sans-serif;
}
#gb-orgs-footer a {
  color: #4183c4;
}
#gb-orgs-footer p {
  border-width: 1px; /* kenar cizgi genisligi */
  border-style: solid; /* kenar cizgi tipi */
  border-color: #d8d8d8; /* kenar cizgi rengi */
  margin-top: 4px; /* listenin dis boslugunun uzakligi */
}
#gb-orgs-footer span {
  color: gray;
}
