.repo {
  ;
}
#gb-repo {
  width: 300px;
  float: center;
  clear: right;
/* margin-top: -30em;*/
  margin-left: 38em;
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#gb-repo p {
  color: gray;
}
#gb-repo a {
  //background-color: white;
  text-decoration: none;
}
#gb-repo a:link {
  color: #4183c4;
  padding-left: 2pt;         /* ic kismin soldan uzakligi */
}
#gb-repo a:hover {
  color: #4183c4;
}
#gb-repo a:visited {
  color: #4183c4;
}
#gb-repo ul {
  background-color: white;
  border-width: 1px;         /* kenar cizgi genisligi            */
  border-style: solid;       /* kenar cizgi tipi 		 */
  border-color: #d8d8d8;     /* kenar cizgi rengi                */
  padding-left: 6pt;         /* ic kismin soldan uzakligi        */
  list-style: none;          /* listenin ikonlarini gosterme     */
  margin-bottom: 1px;      /* listenin dis boslugunun uzakligi */ 
}
#gb-repo-describe {
  font: 12px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
#gb-repo-describe li {
  background-color: #f0f0f0;
  border-width: 1px;         /* kenar cizgi genisligi              */
  border-style: solid;       /* kenar cizgi tipi                   */
  border-color: #d8d8d8;     /* kenar cizgi rengi                  */
  padding-left: 6pt;         /* ic kismin soldan uzakligi          */
  padding-right: 10pt;       /* ic kismin sagdan uzakligi          */
  margin-right: 2px;         /* kenar sag dis boslugundan uzakligi */
  margin-left: -6px;         /* kenar sag dis boslugundan uzakligi */
  margin-bottom: -10px;        /* listenin dis boslugunun uzakligi   */ 
}
#gb-repo-footer {
  margin-top: 1px;           /* kenar ust dis boslugundan uzakligi */
}
#gb-repo-footer a {
  color: #4183c4;
}
#gb-repo-footer p {
  border-width: 1px;         /* kenar cizgi genisligi */
  border-style: solid;       /* kenar cizgi tipi      */
  border-color: #d8d8d8;     /* kenar cizgi rengi     */
  margin-top: 4px;        /* listenin dis boslugunun uzakligi   */ 
}
#gb-repo-footer span {
  color: gray;
}
