#gb-close {
  width: 420px !important;
}
#gb-open {
  width: 420px !important;
}
#gb-repo {
  width: 420px !important;
}
#gb-gist {
  width: 420px !important;
}
#gb-orgs {
  width: 420px !important;
}

